# Capstone (FINAL) Project - The Battle of Neighorboods

## Title - Best Location for to Open a New Wine Shop in Paris

This notebook will contain Week 1 and Week 2 assignments

# Week 1

1. Introduction / Business Problem / Requirements
2. Decription of the data and how it will resolve the business problem

## 1. Introduction / Business Problem

### Locations for a New Wine shop in High Traffic Areas in Paris France

A successful Online wine shop wants to go into retailing to own a physical store where they can entertain customers and give them a taste of the wine before the customers can buy.

According to their market survey, they are planning to launch a new brand of wine and they figured out if people get to taste the wine firstm they will prefer it to wines from other competitors. But being an e-commerce guru with only online presence, there is no way they can get people to taste the new set of wines and also to entertain people.

As a data scientist, I have been given the task to analyze all locations in Paris and provide which is the best location for them to open this wine shop. I am to leverage on existing data to help them make a good data-driven decision on which location has the highest traffic in Paris.

I will be leveraging on Foursquare Location data to help me provide the required solution and help the company in making data-driven decisions about the best location to launch from.

#### Criteria
According to some qualitative data analysis online, they suggest that the best location to open a new wine shop might not be where other wineshops are, but locations where there are Restaurants, Cafes and Bars.
A location where people go to socialize alot and frequently, so opening a wine shope in that location might just be the best.

Narrowing down the data to the best district options derived from qualitative analysis allows for either further research to be conducted on people taste, or physical searching for specific location by the company.

#### Why Data?

Without using data to make decisions about the best location for a new wine shop, the company could spend countless hours walking around, consulting clubs and party goers who will only give them advise based on their person preference, and they might end up opening in a location that is not ideal.

Data will provide better answers and better solutions to their task at hand.

#### Outcomes

The goal is to identify the best location - Arrondissements - to open new wine shop as part of the company's plan to launch new brands of wine. The results will be sold to the management in a basic form that will help the data-driven analysis for the best locations to open the wine shop.

## 2. The Data

### The main data for this project wil be gotten from Foursquare Location data and Municipax data exported from https://opendata.paris.fr/explore/dataset/arrondissements/table/?dataChart

According to my research, the main districts in Paris are divided into 20 Arrondissements Municipaux (administrative districts), shortened to arrondissements.

The data regarding the districts in Paris needs has been researched and identified. Data wrangling and cleaning will have to be performed on these data.

Foursquare location data will be leveraged to explore or compare districts around Paris, identifying the high traffic areas where consumers go to Restaurants, Cafes, Bars, dining and entertainment - the areas where a new wine shop can be opened.

#### The Data Science Workflow for this part includes the following:

- Outline the initial data that is required: District data for Paris including names, location data if available, and any other details required.
- Obtain the Data: Research and find suitable sources for the district data for Paris. Access and explore the data to determine if it can be manipulated for our purposes.
- Initial Data Wrangling and Cleaning: Clean the data and convert to a useable form as a dataframe.

#### Importing All Required Libraries

In [1]:
# Import libraries
import numpy as np # library to handle data in a vectorized manner
import json # library to handle JSON files
import pandas as pd

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

from bs4 import BeautifulSoup

# Import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

### Importing Paris District Data

Paris is divided into 20 Arrondissements Municipaux (or administrative districts), shortened to just arrondissements. They and normally referenced by the arrondissement number rather than a name. This data is necessary to select the best location for this wine shop.

The data is available on wikipedia  (https://en.wikipedia.org/wiki/Arrondissements_of_Paris) but a better version is available and exported from https://opendata.paris.fr/explore/dataset/arrondissements/table/?dataChart

After exporting the data to CSV, I uploaded to my github account where i will be using the data from https://raw.githubusercontent.com/olaniyisinet/Coursera_Capstone/master/Arrondissements_.csv

In [2]:
paris = pd.read_csv('https://raw.githubusercontent.com/olaniyisinet/Coursera_Capstone/master/Arrondissements_.csv')
paris

,CAR,NAME,NSQAR,CAR.1,CARINSEE,LAR,NSQCO,SURFACE,PERIMETRE,Geometry_X,Geometry_Y
0,3,Temple,750000003,3,3,3eme Ardt,750001537,1170882828,4519264,48.862872,2.360001
1,19,Buttes-Chaumont,750000019,19,19,19eme Ardt,750001537,6792651129,11253182,48.887076,2.384821
2,14,Observatoire,750000014,14,14,14eme Ardt,750001537,5614877309,10317483,48.829245,2.326542
3,10,Entrepot,750000010,10,10,10eme Ardt,750001537,2891739442,6739375,48.876130,2.360728
4,12,Reuilly,750000012,12,12,12eme Ardt,750001537,16314782637,24089666,48.834974,2.421325
5,16,Passy,750000016,16,16,16eme Ardt,750001537,16372542129,17416110,48.860392,2.261971
6,11,Popincourt,750000011,11,11,11eme Ardt,750001537,3665441552,8282012,48.859059,2.380058
7,2,Bourse,750000002,2,2,2eme Ardt,750001537,991153745,4554104,48.868279,2.342803
8,4,Hotel-de-Ville,750000004,4,4,4eme Ardt,750001537,1600585632,5420908,48.854341,2.357630
9,17,Batignolles-Monceau,750000017,17,17,17eme Ardt,750001537,5668834504,10775580,48.887327,2.306777
10,18,Buttes-Montmartre,750000018,18,18,18eme Ardt,750001537,5996051308,9916464,48.892569,2.348161
11,1,Louvre,750000001,1,1,1er Ardt,750001537,1824612860,6054937,48.862563,2.336443
12,5,Pantheon,750000005,5,5,5eme Ardt,750001537,2539374623,6239195,48.844443,2.350715
13,7,Palais-Bourbon,750000007,7,7,7eme Ardt,750001537,4090057185,8099425,48.856174,2.312188
14,20,Menilmontant,750000020,20,20,20eme Ardt,750001537,5983446037,10704940,48.863461,2.401188
15,8,elysee,750000008,8,8,8eme Ardt,750001537,3880036397,7880533,48.872721,2.312554
16,9,Opera,750000009,9,9,9eme Ardt,750001537,2178303275,6471588,48.877164,2.337458
17,13,Gobelins,750000013,13,13,13eme Ardt,750001537,7149311091,11546547,48.828388,2.362272
18,15,Vaugirard,750000015,15,15,15eme Ardt,750001537,8494994081,13678798,48.840085,2.292826
19,6,Luxembourg,750000006,6,6,6eme Ardt,750001537,2153095586,6483687,48.849130,2.332898

### Exploring and Cleaning the Data

In [3]:
# District : name of the central District for the Arrondissement
# Arrondissement : the Arrondissement or district number which is used to identify it
# Arrondissement_Fr : the descriptive French label for each Arrondissement

paris.rename(columns={'NAME': 'Neighborhood ', 'CAR': 'Arrondissement_Num', 'Geometry_X': 'Latitude', 'Geometry_Y': 'Longitude',  'LAR': 'French_Name'}, inplace=True)
paris

,Arrondissement_Num,Neighborhood,NSQAR,CAR.1,CARINSEE,French_Name,NSQCO,SURFACE,PERIMETRE,Latitude,Longitude
0,3,Temple,750000003,3,3,3eme Ardt,750001537,1170882828,4519264,48.862872,2.360001
1,19,Buttes-Chaumont,750000019,19,19,19eme Ardt,750001537,6792651129,11253182,48.887076,2.384821
2,14,Observatoire,750000014,14,14,14eme Ardt,750001537,5614877309,10317483,48.829245,2.326542
3,10,Entrepot,750000010,10,10,10eme Ardt,750001537,2891739442,6739375,48.876130,2.360728
4,12,Reuilly,750000012,12,12,12eme Ardt,750001537,16314782637,24089666,48.834974,2.421325
5,16,Passy,750000016,16,16,16eme Ardt,750001537,16372542129,17416110,48.860392,2.261971
6,11,Popincourt,750000011,11,11,11eme Ardt,750001537,3665441552,8282012,48.859059,2.380058
7,2,Bourse,750000002,2,2,2eme Ardt,750001537,991153745,4554104,48.868279,2.342803
8,4,Hotel-de-Ville,750000004,4,4,4eme Ardt,750001537,1600585632,5420908,48.854341,2.357630
9,17,Batignolles-Monceau,750000017,17,17,17eme Ardt,750001537,5668834504,10775580,48.887327,2.306777
10,18,Buttes-Montmartre,750000018,18,18,18eme Ardt,750001537,5996051308,9916464,48.892569,2.348161
11,1,Louvre,750000001,1,1,1er Ardt,750001537,1824612860,6054937,48.862563,2.336443
12,5,Pantheon,750000005,5,5,5eme Ardt,750001537,2539374623,6239195,48.844443,2.350715
13,7,Palais-Bourbon,750000007,7,7,7eme Ardt,750001537,4090057185,8099425,48.856174,2.312188
14,20,Menilmontant,750000020,20,20,20eme Ardt,750001537,5983446037,10704940,48.863461,2.401188
15,8,elysee,750000008,8,8,8eme Ardt,750001537,3880036397,7880533,48.872721,2.312554
16,9,Opera,750000009,9,9,9eme Ardt,750001537,2178303275,6471588,48.877164,2.337458
17,13,Gobelins,750000013,13,13,13eme Ardt,750001537,7149311091,11546547,48.828388,2.362272
18,15,Vaugirard,750000015,15,15,15eme Ardt,750001537,8494994081,13678798,48.840085,2.292826
19,6,Luxembourg,750000006,6,6,6eme Ardt,750001537,2153095586,6483687,48.849130,2.332898

### Removing unncesary Columns from the dataset

In [4]:
paris.drop(['NSQAR','CAR.1','CARINSEE','NSQCO','SURFACE', 'PERIMETRE' ], axis=1, inplace=True)
paris

    Arrondissement_Num        Neighborhood  French_Name   Latitude  Longitude
0                    3               Temple   3eme Ardt  48.862872   2.360001
1                   19      Buttes-Chaumont  19eme Ardt  48.887076   2.384821
2                   14         Observatoire  14eme Ardt  48.829245   2.326542
3                   10             Entrepot  10eme Ardt  48.876130   2.360728
4                   12              Reuilly  12eme Ardt  48.834974   2.421325
5                   16                Passy  16eme Ardt  48.860392   2.261971
6                   11           Popincourt  11eme Ardt  48.859059   2.380058
7                    2               Bourse   2eme Ardt  48.868279   2.342803
8                    4       Hotel-de-Ville   4eme Ardt  48.854341   2.357630
9                   17  Batignolles-Monceau  17eme Ardt  48.887327   2.306777
10                  18    Buttes-Montmartre  18eme Ardt  48.892569   2.348161
11                   1               Louvre    1er Ardt  48.862563   2.336443
12                   5             Pantheon   5eme Ardt  48.844443   2.350715
13                   7       Palais-Bourbon   7eme Ardt  48.856174   2.312188
14                  20         Menilmontant  20eme Ardt  48.863461   2.401188
15                   8               elysee   8eme Ardt  48.872721   2.312554
16                   9                Opera   9eme Ardt  48.877164   2.337458
17                  13             Gobelins  13eme Ardt  48.828388   2.362272
18                  15            Vaugirard  15eme Ardt  48.840085   2.292826
19                   6           Luxembourg   6eme Ardt  48.849130   2.332898

#### We have successfully identified the problem statement and also identified the data to be used for this. This sums up our activities for week one.

- Clearly define a problem or an idea of your choice, where you would need to leverage the Foursquare location data to solve or execute.
- Describe the data that you will be using to solve the problem or execute your idea.

# Week 1 Ends HERE ---------------------------------------------------------------------------------------------------